*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
a{text-decoration: none;}

body{
    background-color: #F4F6F8;
    background-image: url("../img/background-image.png");
    background-repeat: no-repeat;
    background-size:100% auto;
    /* background-position: center; */
    font-family: Kumbh Sans;

    
}


.container{
    max-width: 1110px;
    margin-inline: auto;
}
.header{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.modes{
    display: flex;
    gap: 16px;
}
input[type="range"]{
    width: 48px;
    height: 24px;
    appearance: none; 
    border-radius: 13px;
    background-color:#fff;
    padding-left: 5px;
    padding-right: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px; 
    border-radius: 50%;
    cursor: pointer;
    background:#5964E0;

}
input[type="text"]{
    border: none;
    width: 271px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: #19202D;
    opacity: 50%;
        
  }

input[type="text"]:focus{
    outline: none;
}
.searchForm{
      
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;


    div{
        display: flex;
        gap: 16px;
        padding-top: 28px;
        padding-bottom: 28px;
    }
}
.searchFormleft{
    margin-left: 32px;

    img{
        width: 24px;
        height: 24px;
        margin-top: 15px;
    }
}
.searchFormMiddle{
    padding-left: 23px;
    border-right: 1px solid rgba(110, 128, 152, 0.3);
    border-left: 1px solid rgba(110, 128, 152, 0.3);
    img{
        width: 17px;
        height: 24px;
        margin-top: 14px;
    }

}
.btn{
    padding: 16px 36px;
    color: #fff;
    background-color: #5964E0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    margin-right: 16px;
    cursor: pointer;
    border: none;


}
.searchFormRight{
    

    input{
        width: 24px;
        height: 24px;
        margin-top: 15px;
    }
    h5{
        margin-top: 17px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;

    }
}


.hero-container{
    margin-top: 105px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}


.hero{
    margin-top: 65px;
    position: relative;

    img{
        position: absolute;
        bottom: 220px;
        left: 32px;
    }
}
.hero-box{
    max-width:350px;
    padding: 49px 32px 32px 32px;
    background-color: #fff;
    border-radius: 6px;


    
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            color: #6E8098;

        }

        h3{
            width: 350px;
            font-size: 20px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: left;
            margin-top: 13px;
        }
        h4{
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            margin-top: 14px;
            color: #6E8098;

        }
        h6{
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: left;
            margin-top: 44px;
            color: #5964E0;
        }
}

.btn-loadMore{
    margin-inline: auto;
    margin-top: 56px;
    display: flex;
    justify-content: center;
    border: none;
}

.deneme{
    background-color: #19202D;
}

.showDetail{
    cursor: pointer;
}

/* detail sayfasi */


.form-container-hero{
    margin-inline: auto;
    max-width: 730px;
    margin-top: 44px;

}


.header-detail{
    display:flex ;
    background-color: #fff;
    border-radius: 15px;

    img{
        width: 140px;
        height: 140px;
        border-radius: 0;
    }
    h3{
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 13px;

    }
    h6{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #6E8098;

    }
    

    a{
        width: 147px;
        height: 48px; 
        background-color: #f0f2f5;
        color: #5964E0;
        text-align: center;
        margin-left: 282px;
        margin-top: 46px;
        padding-top: 12px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;

    }
}

.name{
    margin: 42px 0px 0px 40px
}
.btn-apply{
    display: inline-block;
    margin-top: 20px;
}

.container-detail{
    margin-top: 32px;
    padding:48px 48px 48px 48px ;
    background-color: #fff;

    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        color:#6E8098;

    }

    h2{
        margin-top: 40px;
        margin-bottom: 28px;
    }

    ul{
        margin-top: 24px;
        padding-left: 13px;
        margin-bottom: 48px;

    }
    
    li{
        margin-top:8px;
        padding-left: 32px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #6E8098;
     }

     ol{
        padding-left: 13px;
        margin-top: 24px

     }
}

.container-detail-first{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;


    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        color: #6E8098;
        margin-bottom: 8px;

    }
    h3{
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0px;
        margin-bottom: 8px;

    }

    h6{
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0px;
        color: #5964E0;
    }
}

.detail-footer{
    width: 100%;
    background-color: #fff;
    display: flex;
    gap: 348px;
    justify-content: center;
    margin-top: 80px;
    padding: 23px 0px 23px 0px;

    h3{
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 12px;
    }

    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #6E8098;


    }
}
.detail-footer-left{
    margin: 0px 0px 0px 0px;

}